@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default mainPanel">
    <div class="panel-heading">
        数据处理
    </div>
    <div id="m_panel">
    </div>
    <div class="panel-body">
        <input id="file_up_1" type="file" class="bt_upload">
    </div>
</div>
<script src="~/Scripts/Custom/index.js"></script>
