@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Custom/check.js"></script>
<h2>Check</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        数据处理
    </div>
    <div id="check_m_panel">
    </div>
    <div class="panel-body">
        <input id="file_up_2" type="file" class="bt_upload">
    </div>
</div>