<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatsicForXX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="T1" value="技能组,录音抽检数,平均得分,通过量,中度服务瑕疵量,重大服务失误量,有效投诉量,通过率,通过率系数"/>
    <add key="T2" value="工号,姓名,平均得分,通过率,客户满意度,客户评价率,净满意度"/>
    <add key="T3" value="工号,姓名,平均得分,通过率,客户满意度,客户评价率,净满意度,新人上岗时间"/>    
    <add key="T4" value="工号,姓名,平均得分"/>      
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <StatsicForXX.Properties.Settings>
            <setting name="T1" serializeAs="String">
                <value></value>
            </setting>
            <setting name="T2" serializeAs="String">
                <value />
            </setting>
            <setting name="T3" serializeAs="String">
                <value />
            </setting>
            <setting name="T4" serializeAs="String">
                <value />
            </setting>
            <setting name="T5" serializeAs="String">
                <value />
            </setting>
        </StatsicForXX.Properties.Settings>
    </applicationSettings>
</configuration>