<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="T1" value="技能组,录音抽检数,平均得分,通过量,中度服务瑕疵量,重大服务失误量,有效投诉量,通过率,通过率系数" />
    <add key="T2" value="工号,姓名,平均得分,通过率,客户满意度,客户评价率,净满意度" />
    <add key="T3" value="工号,姓名,平均得分,通过率,客户满意度,客户评价率,净满意度,新人上岗时间" />
    <add key="T4" value="工号,姓名,平均得分" />
    <add key="T_Names" value="班长月度考核,高级技能组服务专员大排名,多媒体组服务专员大排名,客户服务组服务专员大排名——老员工,客户服务组服务专员大排名——新员工,质量成绩排名" />    
    <add key="VIP" value="王青组,朱夏萌组" /> 
    <add key="Media" value="武金玉组,赵双组" />     
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>