<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <sectionGroup name="common">
    <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
  </sectionGroup>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/ConfigFile/log4net.config" />
        <arg key="level" value="ALL" />
      </factoryAdapter>
    </logging>
  </common>
  <quartz>

    <!-- configure Thread Pool-->

    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool,Quartz" />

    <add key="quartz.threadPool.threadCount" value="10" />

    <add key="quartz.threadPool.threadPriority" value="Normal" />

    <!-- configure Job Store-->

    <add key="quartz.jobStore.misfireThreshold" value="60000" />

    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore,Quartz" />

    <!-- configure scheduler-->

    <add key="quartz.scheduler.instanceName" value="ServiceScheduler" />

    <!-- configure jobs and triggersdefinition-->

    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin,Quartz" />

    <add key="quartz.plugin.xml.fileNames" value="~/ConfigFile/jobs.xml" />

    <!--重新扫描配置文件的间隔时间(单位：s)-->

    <add key="quartz.plugin.xml.scanInterval" value="2" />

  </quartz>
</configuration>